################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SimpleAPI/bin/Debug/net5.0
/SimpleAPI/obj
/.vs
/SimpleAPI/.vs/SimpleAPI
/SimpleAPI/SimpleAPI.sln
/SimpleAPI/.config
/SimpleAPI/bin/Release/net5.0
/SimpleAPI/Properties/PublishProfiles
/SimpleAPI/Properties/ServiceDependencies/WheatherAPIDeploy - Web Deploy
/SimpleAPI/Properties/serviceDependencies.WheatherAPIDeploy - Web Deploy.json.user
/SimpleAPI/Properties/serviceDependencies.WheatherAPIDeploy - Web Deploy.json
/SimpleAPI/Properties/serviceDependencies.json
