################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SimpleAPI/bin/Debug/net5.0
/SimpleAPI/obj
/.vs
/SimpleAPI/.vs/SimpleAPI
/SimpleAPI/SimpleAPI.sln
